# Arquivos de byte compilado Python\n__pycache__/\n*.py[cod]\n*$py.class\n\n# Distribuição / empacotamento\n*.egg-info/\n.installed.cfg\n*.egg\n\n# Ambientes virtuais Python\nenv/\nvenv/\nENV/\n\n# Arquivos de ambiente e configuração\n.env\n*.log\nconfig.json\n\n# Arquivos específicos da aplicação\nlogs/\nxml/*.xml\n\n# Certificados\n*.pfx\n*.p12\n\n# Arquivos do sistema\n.DS_Store\nThumbs.db\n\n# Diretórios e arquivos do IDE\n.idea/\n.vscode/\n*.swp\n*.swo\n